
.container-lg{
position: relative;
    /*top: 15vh;*/
    /*margin-top: 10px;*/
bottom:10vh;
margin-top:200px;
}
.comment_form{
margin-top:40px
}
.comment_label{
font-size:20px;
}
body{
    background:#eee;

}
html,body{
}
.comment_img_username_beside{
display: flex;
}
.username_comment{
padding :10px;
}
.btn-primary {
    color: #fff;
    background-color: #54BAB9fd;
    border-color: #ebefec59;
}
.btn
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
.bgc-h-secondary-l3:hover, .bgc-secondary-l3 {
    background-color: #ebeff1!important;
}
.h-4 {
    height: 2rem;
}
.w-4 {
    width: 2rem;
}
.d-zoom-1, .d-zoom-2, .d-zoom-3, .dh-zoom-1, .dh-zoom-2, .dh-zoom-3 {
    transition: -webkit-transform 180ms;
    transition: transform 180ms;
    transition: transform 180ms,-webkit-transform 180ms;
}
.mr-25, .mx-25 {
    margin-right: .75rem!important;
}

.p-25 {
    padding: .75rem!important;
}
.radius-1 {
    border-radius: .25rem!important;
}
[class*=bgc-h-] {
    transition: background-color .15s;
}

.text-default-d3 {
    color: #416578!important;
}
.font-bolder, .text-600 {
    font-weight: 600!important;
}
.text-90 {
    font-size: .9em!important;
}


.bgc-h-secondary-l4:hover, .bgc-secondary-l4 {
    background-color: #f2f4f6!important;
}
.text-danger-m1 {
    color: #da3636!important;
}
.text-green-m1 {
    color: #2c8d6a!important;
}
.text-95 {
    font-size: .95em!important;
}

/*Title*/
.title{
    position: relative;
    font-size: 28px;
    font-weight: 500;
    color: #333;
    margin-top:100px;
    margin-left:100px;
    margin-bottom:20px;
}
.title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 35px;
    background: #1a8fe3;
}
.title:before{
    width: 20px;
}

.bt{position: fixed;
    bottom: 6vh;
    right: 0;
    width: 10%;
    font-size: 20px;
    padding: 5px 5px;}

