@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #d3ad7f;
    --black:#FDF8F5;
    --bg:#010103;
    --border: .1rem solid rgba(255,255,255,0.3);
}
* {
    font-family: 'Roboto', sens-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body ,html{
    background: white;
    height:100%;
    width:100%;
    min-height: 100vh;
        display: flex;
        flex-direction: column;
text-size-adjust: auto;
}

section {
    padding: 2rem 7%;

}

.heading {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.about .heading span {
    color: #1a8fe3;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display:inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: #645c50;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}



/* Home section starts */
.home {
    min-height: 100vh;
    display:flex;
    align-items:center;
    background: url(../image/tl.jpeg);
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;

}
.home .content h3 {
    font-size: 6rem;
    text-decoration: uppercanse;
    color: #1a8fe3;
}
.home .content p {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height:1.8;
    padding: 1rem 0;
    color: black;
}

/* Home section ends */

/* about section starts */
.about .row {
    display: flex;
    align-items: center;
    background: #FBF8F1;
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;

}
.about .row .image img{
    width: 100%;
}
.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #645c50;
}

.about .row .content p {
    font-size: 1.6rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.8;
}


/* about section ends */
 /* menu section starts */
.menu .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 3fr));
    gap: 1.5rem;
}

.menu .box-container .box {
   border-radius: 23px;
       padding: 5rem;
       text-align: center;
       border: 1px solid #39AEA9;
    width: 300px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}



.menu .box-container .box h3 {
    color: #54bab9;
    font-size: 2rem;
    padding: 1rem 0;
}





.menu .box-container .box:hover {
   /* background: #FBF8F1;*/
}

.menu .box-container .box:hover > * {
   /* color: var(--black);*/
}

 /* menu section starts */



/* review section starts */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}
.review .box-container .box p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container  .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container  .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}
/* review section ends */
/* contact section starts */
.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;

}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;

}
.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: #1a8fe3;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
/* contact section ends */

/* footer section starts */
.footer {
    background: #645c50;
    text-align: center;
     height:100%;
    margin-top: auto;
        margin-bottom: 0;
     max-height:250px;
width: 100%;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: wheat;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
    color: var(--bg);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: wheat;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background-color: var(--main-color);
    color: var(--bg);
}
.footer .credit {
    font-size: 2rem;
    color: white;
    font-weight: lighter;

}

.footer .credit span {
    color: var(--main-color);
}
/* footer section ends */


/*Floating button*/
#floating-btn {
    position: fixed;
    bottom: 10vh;
    right: 0%;
    padding: 7px;
    font-size: xx-large;
    border-radius: 50%;
    padding: 5px 15px;
    margin-right:20px;
    color: white;
    background-color: #13131a;
}

#floating-btn:hover {
    background-color: #1a8fe3;
}




























/* media queries */


/* media queries */
@media(max-width:991px) {
    html {
    font-size: 55%;
    }

    section {
    padding: 2rem ;

}

}
@media(max-width:768px) {
    html {
    font-size: 55%;
}


}

@media(max-width:991px) {
    #menu-btn {
    display: inline-block;
    }


    .home {
        background-position: left;
        justify-content:content;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
}

@media(max-width:450px) {
    html {
    font-size: 55%;
    }


}