@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #d3ad7f;
    --black:#FDF8F5;
    --bg:#010103;
    --border: .1rem solid rgba(255,255,255,0.3);
}
* {
    font-family: 'Roboto', sens-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body ,html{
    background: white;
    height:100%;
    width:100%;
    min-height: 100vh;
        display: flex;
        flex-direction: column;
text-size-adjust: auto;
}

section {
    padding: 2rem 7%;

}

.heading {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.about .heading span {
    color: #1a8fe3;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display:inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: #645c50;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}


/* Header starts */
.header {
    background: var(--black);
    display: flex;
    align-items: center;
    font-size:20px;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: #464646;
    position: relative;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img {
    height:6rem;
}

.header .navbar a {
    margin: 0 1rem ;
    font-size: 1.6rem;
    color: #141414;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}
.menu{
flex-grow: 1;
}

.header .search-form {
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1)
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}
.header .cart-items-container.active {
    right: 0;
}
.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}
.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;

}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}
.content .btn{
    margin-top: 1rem;
    display:inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: #645c50;
    cursor: pointer;
    transition: 1s ease;
}
.content .btn:hover {
    background: wheat;
    color: black;
}


.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

/* Header Ends */

/* Home section starts */
.home {
    min-height: 100vh;
    display:flex;
    align-items:center;
    background: url(../image/tl.jpeg);
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;

}
.home .content h3 {
    font-size: 6rem;
    text-decoration: uppercanse;
    color: #1a8fe3;
}
.home .content p {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height:1.8;
    padding: 1rem 0;
    color: black;
}

/* Home section ends */

/* about section starts */
.about .row {
    display: flex;
    align-items: center;
    background: #FBF8F1;
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;

}
.about .row .image img{
    width: 100%;
}
.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #645c50;
}

.about .row .content p {
    font-size: 1.6rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.8;
}


/* about section ends */
 /* menu section starts */
.menu .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 3fr));
    gap: 1.5rem;
}

.menu .box-container .box {
   border-radius: 23px;
       padding: 5rem;
       text-align: center;
       border: 1px solid #39AEA9;
}



.menu .box-container .box h3 {
    color: #54bab9;
    font-size: 2rem;
    padding: 1rem 0;
}





.menu .box-container .box:hover {
   /* background: #FBF8F1;*/
}

.menu .box-container .box:hover > * {
   /* color: var(--black);*/
}

 /* menu section starts */



/* review section starts */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}
.review .box-container .box p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container  .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container  .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}
/* review section ends */
/* contact section starts */
.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;

}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;

}
.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: #1a8fe3;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
/* contact section ends */

/* footer section starts */
.footer {
    background: #645c50;
    text-align: center;
     height:100%;
    margin-top: auto;
        margin-bottom: 0;
     max-height:250px;
width: 100%;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: wheat;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
    color: var(--bg);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: wheat;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background-color: var(--main-color);
    color: var(--bg);
}
.footer .credit {
    font-size: 2rem;
    color: white;
    font-weight: lighter;

}

.footer .credit span {
    color: var(--main-color);
}
/* footer section ends */































/* media queries */


/* media queries */
@media(max-width:991px) {
    html {
    font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
    padding: 2rem ;

}

}
@media(max-width:768px) {
    html {
    font-size: 55%;
}
    .header {
        padding: 1.5rem 2rem;
    }

}

@media(max-width:991px) {
    #menu-btn {
    display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem)
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a {
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        color: var(--black);
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }
    .home {
        background-position: left;
        justify-content:content;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
}

@media(max-width:450px) {
    html {
    font-size: 55%;
    }


}