body,html{
height:100%;
width:100%;
background-color:#E9DAC1;
}


section{
max-width:350px;
position:relative;
margin-left:auto;
margin-right:auto;
top:100px;
max-height:400px;
background-color:white;
padding:44px;
  box-sizing: border-box;

text-align:left;
}
.input_name{
width:calc(100%);
min-width:150px;
max-width:350px;
font-size:1em;
border-top:none;
border-right:none;
border-left:none;

}
.submit_name{
max-margin:calc(82.5%);
margin-left:calc(82.5%);
margin-top:30px;
background-color:#0067b8;
color:white;
border:#54BAB9 1px solid;
padding :5px;
}
h1{
font-size:2em;
margin-bottom:30px;
}