<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/error.css}"rel="stylesheet">
</head>
<body>

<section class="p-0 bg-img cover-background" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5">
                <div class="text-center error-page">
                    <h1 class="mb-0 text-secondary">404</h1>
                    <h2 class="mb-4 text-white">Sorry, something went wrong!</h2>
                    <p class="w-sm-80 mx-auto mb-4 text-white">This page is incidentally inaccessible because of support. We will back very before long much obliged for your understanding</p>
                    <div>
                        <a href="/dashboard" class="btn btn-info btn-lg me-sm-2 mb-2 mb-sm-0">Return Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>