<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="forgot">
            <img th:src="@{/image/forgot.png}" alt="">
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Forgot !!</div>
                <form action="#">
                    <div class="input-boxes">

                        <!-- email -->
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Enter your Email" required>
                        </div>

                        <!-- Submit Button -->
                        <div class="button input-box">
                            <input type="submit" value="Sumbit">
                        </div>
                        <!-- Signup Link -->
                        <div class="text sign-up-text">back to Login page ! <label for="flip"><a th:href="${'/login'}">Login</a></label></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
