<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header class="header" th:fragment="my-fragment2">
    <a href="#" class="logo">
        <img src="assets/images/logo.png" alt="">
    </a>
    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#menu">menu</a>
        <a href="#products">products</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
        <a href="#blogs">blogs</a>
    </nav>
    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>



    </div>
</header>
</html>