<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
    <header class="header" th:fragment="my-fragment2">

            <link th:href="@{/css/header.css}" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
            <a href="/home" class="logo">
                <img th:src="@{/image/logo.png}" alt="">
            </a>
            <nav class="navbar">
                <a href="/dashboard">Dashboard</a>
                <a href="/myTask">Tasks</a>
                <a href="/todolistname">To-Do List member</a>
                <a href="/profile">Profile</a>
                <form class="logout-form" action="/logout" method="post" style="display: inline-block;">
                    <button type="submit" style="background-color: #645c50;"> <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                </form>
            </nav>
    </header>
</html>