<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/main.css}"rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div th:insert="~{/unauthheader :: my-fragment3}"></div>

<section class="home" id="home">
    <div class="content">
        <h3 style="font-size: 3rem;">Team Management System</h3>
        <p>Now you can organize your projects with your team by dividing your project tasks between the team members. You can create a to-do list and add your team members inside it.
            And then link each member with his/her task. and make a due dates for these tasks. Also, you can reach remember your tasks easily by organize them in a separate page.</p>
        <a th:href="@{/signup}" class="btn">Get started now</a>
    </div>
</section>
<!-- home section ends -->

<!-- about section starts -->
<section class="about" id="about">
    <h1 class="heading"> <span> about us</span>  </h1>
    <div class="row">
        <div class="image">
            <img src="/image/about.png" alt="about-us">
        </div>
        <div class="content">
            <h3>Group1 of java course in LTUC</h3>
            <p>This website is a midterm project of group1 of java course in LTUC in jordan</p>
            <p>Our Group names: <br>- Wael Alqawasmi <br>- Roaa Hailat <br>- Motasem Alkilany <br>- Mohammad Aladarbeh</p>
            <p>We are building an organizer website, so you can organize your projects with your team by dividing your project tasks between the team members. You can create a to-do list and add your team members inside it.
                And then you can link each member with his/her task. and make a due dates for these tasks. Also, you can reach remember your tasks easily by organize them in a separate page.</p>
        </div>
    </div>
</section>

<!-- footer -->

<section class="footer" id="contact">
    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-pinterest"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-instagram"></a>
    </div>

    <div class="links">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a th:href="@{/login}">login</a>
        <a th:href="@{/signup}">signup</a>
    </div>

    <div class="credit">&copy;created by <span> Group1 </span> | all rights reserved</div>
    -

</section>
</body>
</html>