<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:insert="~{/unauthheader :: my-fragment3}"></div>
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img th:src="@{/image/frontImg.jpg}" alt="">
            <div class="text">
                <span class="text-1">Every new friend is a <br> new adventure</span>
                <span class="text-2">Let's get connected</span>
            </div>
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Login</div>

                <form action="/login" method="POST">
                    <div class="input-boxes">

                        <div th:if="${param.error}" style="color: red">
                            Invalid username and password.
                        </div>
                        <!-- Username -->
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input name="username" type="text" placeholder="Enter your Username" required>
                        </div>

                        <!-- Password -->
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input name="password" type="password" placeholder="Enter your Password" required>
                        </div>

                        <!-- Forgot Password-->
                        <div class="text"><a th:href="@{/forgot_password}">Forgot password?</a></div>

                        <!-- Submit Button -->
                        <div class="button input-box">
                            <input type="submit" value="Submit">
                        </div>
                        <!-- Signup Link -->
                        <div class="text sign-up-text">Don't have an account? <label for="flip"><a th:href="${'/signup'}">Sigup now</a></label></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
