<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/main.css}"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{/header :: my-fragment2}"></div>


<section class="menu" id="menu">
    <h1 class="heading"> <span>to do lists</span></h1>
    <div class="grid">
    <div class="box-container"  th:each="todolist : ${todolist}">
        <div class="box">
            <h3 th:text="${todolist.name}"></h3>
            <a th:href="@{'/listprofile/' + ${todolist.id}}" class="btn">enter</a>
        </div>
        </div>

<!--        <div class="box">-->
<!--            <h3>tasty and healty</h3>-->
<!--            <div class="price">$15.99 <span>20.99</span></div>-->
<!--            <a href="#" class="btn">add to cart</a>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <h3>tasty and healty</h3>-->
<!--            <div class="price">$15.99 <span>20.99</span></div>-->
<!--            <a href="#" class="btn">add to cart</a>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <h3>tasty and healty</h3>-->
<!--            <div class="price">$15.99 <span>20.99</span></div>-->
<!--            <a href="#" class="btn">add to cart</a>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <h3>tasty and healty</h3>-->
<!--            <div class="price">$15.99 <span>20.99</span></div>-->
<!--            <a href="#" class="btn">add to cart</a>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <h3>tasty and healty</h3>-->
<!--            <div class="price">$15.99 <span>20.99</span></div>-->
<!--            <a href="#" class="btn">add to cart</a>-->
<!--        </div>-->
    </div>
</section>

<section class="footer">
    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-pinterest"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-instagram"></a>
    </div>

    <div class="links">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a th:href="@{/login}">login</a>
        <a th:href="@{/signup}">signup</a>
    </div>

    <div class="credit">&copy;created by <span> Group1 </span> | all rights reserved</div>
</section>

</body>
</html>