<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link th:href="@{/css/main.css}"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{/header :: my-fragment2}"></div>


<section class="menu" id="menu">
    <h1 class="heading"> <span>to do lists</span></h1>
    <div class="grid">
    <div class="box-container"  th:each="todolist : ${todolist}">
        <div class="box">
            <h3 th:text="${todolist.name}"></h3>
            <a th:href="@{'/listprofile/' + ${todolist.id}}" class="btn">enter</a>
        </div>
        </div>
        <button type="button" class="bt btn-outline-info btn-sm" data-toggle="modal" data-target="#exampleModalLong">
            info
        </button>
</body>
</html>