
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<!--<div>-->
<!--    <h2>Reset Your Password</h2>-->
<!--</div>-->

<!--<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">-->
<!--    <input type="hidden" name="token" th:value="${token}" />-->
<!--    <div class="border border-secondary rounded p-3">-->
<!--        <div>-->
<!--            <p>-->
<!--                <input type="password" name="password" id="password" class="form-control"-->
<!--                       placeholder="Enter your new password" required autofocus />-->
<!--            </p>-->
<!--            <p>-->
<!--                <input type="password" class="form-control" placeholder="Confirm your new password"-->
<!--                       required oninput="checkPasswordMatch(this);" />-->
<!--            </p>-->
<!--            <p class="text-center">-->
<!--                <input type="submit" value="Change Password" class="btn btn-primary" />-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!---->
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="forgot">
            <img th:src="@{/image/forgot.png}" alt="">
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Reset Your Password</div>
                <form th:action="@{/reset_password}" method="post">
                    <input type="hidden" name="token" th:value="${token}" />
                    <div class="input-boxes">

                        <!-- new password -->
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input type="password" name="password" placeholder="Enter New Password" required>
                        </div>
                        <!-- confirm new password -->
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input type="password"  placeholder="Confirm Your New Password" required oninput="checkPasswordMatch(this);">
                        </div>

                        <!-- Submit Button -->
                        <div class="button input-box">
                            <input type="submit" value="Change Password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---->



<script>
function checkPasswordMatch(fieldConfirmPassword) {
    if (fieldConfirmPassword.value != $("#password").val()) {
        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
    } else {
        fieldConfirmPassword.setCustomValidity("");
    }
}
</script>

</body>

</html>