<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:insert="~{/unauthheader :: my-fragment3}"></div>
<div class="container" style="margin-top: 100px;">
    <div class="forms">
        <div class="form-content">
            <div class="signup-form">
                <div class="title">Signup</div>
                <p th:if="${param.taken}" style="color:red">Sorry, this username was used, please try another username</p>
                <form action="/signup" method="POST">
                    <div class="input-boxes">
                        <!--First Name -->
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input name="firstName" type="text" placeholder="First Name" required>
                        </div>
                        <!-- Last Name -->
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input name="lastName" type="text" placeholder="Last Name" required>
                        </div>
                        <!-- Email Address-->
                        <div class="input-box">
                            <i class="fa-solid fa-envelope"></i>
                            <input name="email" type="email" placeholder="Enter Your Email" required>
                        </div>
                        <!-- Birth Day-->
                        <div class="input-box">
                            <i class="fa-solid fa-cake-candles"></i>
                            <input name="birthDay" type="date" placeholder="Birth Day" required>
                        </div>
                        <!-- Position-->
                        <div class="input-box">
                            <i class="fa-solid fa-briefcase"></i>
                            <input name="position" type="text" placeholder="Your Position" required>
                        </div>
                        <!-- Address-->
                        <div class="input-box">
                            <i class="fa-solid fa-location-dot"></i>
                            <input  name="address" type="text" placeholder="Enter Your Address" required>
                        </div>
                        <!-- Phone-->
                        <div class="input-box">
                            <i class="fa-solid fa-phone"></i>
                            <input name="phone" type="text" placeholder="Your Phone" required>
                        </div>
                        <!-- Username-->
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input name="username" type="text" placeholder="Enter your Username" required>

                        </div>
                        <!-- password-->
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input name="password" type="password" placeholder="Enter your Password" required>
                        </div>
                        <!-- Submit Button -->
                        <div class="button input-box">
                            <input type="submit" value="Submit">
                        </div>
                        <!-- Login link -->
                        <div class="text sign-up-text">Already have an account? <a th:href="@{'/login'}"><label for="flip">Login now</label></a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
