<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
<head>
    <link th:href="@{/style}" rel="stylesheet">
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="forms">
        <div class="form-content">
            <div class="signup-form">
                <div class="title">Signup</div>
                <form action="#">
                    <div class="input-boxes">
                        <!--First Name -->
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="First Name" required>
                        </div>
                        <!-- Last Name -->
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Last Name" required>
                        </div>
                        <!-- Birth Day-->
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="date" placeholder="Birth Day" required>
                        </div>
                        <!-- Phone-->
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="text" placeholder="Your Phone" required>
                        </div>
                        <!-- Username-->
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="text" placeholder="Enter your Username" required>
                        </div>
                        <!-- password-->
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Enter your Password" required>
                        </div>

                        <div class="button input-box">
                            <input type="submit" value="Sumbit">
                        </div>
                        <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
