<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{/header :: my-fragment2}"></div>



<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="forgot">
            <img th:src="@{/image/new.png}" alt="">
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Create New Todo List </div>
                <form action="/addtodo" method="post">
                    <div class="input-boxes">

                        <!-- todolist Name -->
                        <div class="input-box">
                            <i class="fa-solid fa-clipboard-list"></i>
                            <input name="toDoListName" type="text" placeholder="Name Of Todo List" required>
                        </div>

                        <!-- Submit Button -->
                        <div class="button input-box">
                            <input type="submit" value="Create">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>