<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:action="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta>
    <meta charset="UTF-8">
    <title>todo List Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
       <link th:href="@{/css/listprofile.css}" rel="stylesheet">
</head>
<body>

<div th:insert="~{/header :: my-fragment2}"></div>
<h1 th:text="${todolistName}" class="title"></h1>
<div class="container-lg" style="margin-bottom:50px;">
    <div class="btn-group btn-group-lg fixed-bottom" role="group" aria-label="..." th:if=${flag}>
        <button type="button" class="btn btn-primary btn-light" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@mdo">Add User
        </button>
        <button type="button" class="btn btn-primary  btn-light" data-toggle="modal" data-target="#addtask"
                data-whatever="@fat">Add Task
        </button>


    </div>

    <div class="row">


        <div class="col-md-4">
            <div class="card ccard radius-t-0 h-100">
                <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
                <!-- the blue line on top -->

                <div class="card-header pb-3 brc-secondary-l3">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                        To do
                    </h5>
                </div>


                <div class="card bg-light mb-3" style="margin:5px" th:each="item:${todoitems}">

                    <div class="card-header" style="position: relative;">
                        <i class="fa fa-arrow-up text-green-m1 text-95"
                           title="the request send put need to accept"></i>
                        <span th:text="${item.getName()}"></span>

                        <form style="display: inline-block;margin-left: 75%;" method="post"
                              th:action="@{'/listprofile/'+${id}}" th:if=${delI}>
                            <input type="hidden" name="id" th:value="${item.getId()}">


                            <button type="submit" name="delete"
                                    style="position: absolute;font-size: 21px;color:red;top: 5%;right: 4%;"> &#128465;
                            </button>
                        </form>
                    </div>

                    <div class="card-body">


                        <p class="card-text" th:text="${item.getDescription()}">
                        </p>
                        <a style="display: block;text-align: right;"
                           th:href="@{'/profile/' + ${item.getUsersmember().getId()}}"
                           th:text="${item.getUsersmember().getUsername()}"></a>

                    </div>
                </div>


                <!--                rejected-->


                <div class="card bg-light mb-3" style="margin:5px" th:each="item:${rejecteditems}">

                    <div class="card-header" style="position: relative;">
                        <i title="rejected"> &#10060;</i>
                        <span th:text="${item.getName()}"></span>

                        <form style="display: inline-block;margin-left: 75%;" method="post"
                              th:action="@{'/listprofile/'+${id}}" th:if=${delI}>
                            <input type="hidden" name="id" th:value="${item.getId()}">


                            <button type="submit" name="delete"
                                    style="position: absolute;font-size: 21px;color:red;top: 5%;right: 4%;"> &#128465;
                            </button>
                        </form>
                    </div>

                    <div class="card-body">


                        <p class="card-text" th:text="${item.getDescription()}">
                        </p>
                        <a style="display: block;text-align: right;"
                           th:href="@{'/profile/' + ${item.getUsersmember().getId()}}"
                           th:text="${item.getUsersmember().getUsername()}"></a>

                    </div>
                </div>


            </div>
        </div>


        <!--     /////////////////////////////   Doing  ///////////////////////////// -->

        <div class="col-md-4">
            <div class="card ccard radius-t-0 h-100">
                <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
                <!-- the blue line on top -->

                <div class="card-header pb-3 brc-secondary-l3">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                        Doing &#128257;
                    </h5>
                </div>

                <div class="card bg-light mb-3" style="margin:5px" th:each="item:${doingitems}">

                    <div class="card-header" style="position: relative;">
                        <form style="display:inline"
                              th:action="'/taskstatus/done/'+${item.getId()}+'?todoid='+${item.getTodolist().getId()}"
                              method="post" th:if=${currentuser==item.getUsersmember().getId()}>
                            <input class="form-check-input mt-0" type="checkbox" value=""
                                   aria-label="Checkbox for following text input" onchange="this.form.submit()">
                        </form>
                        <span th:text="${item.getName()}"></span>

                        <form style="display: inline-block;margin-left: 75%;" method="post"
                              th:action="@{'/listprofile/'+${id}}" th:if=${delI}>
                            <input type="hidden" name="id" th:value="${item.getId()}">


                            <button type="submit" name="delete"
                                    style="position: absolute;font-size: 21px;color:red;top: 5%;right: 4%;"> &#128465;
                            </button>
                        </form>
                    </div>

                    <div class="card-body">


                        <p class="card-text" th:text="${item.getDescription()}">
                        </p>
                        <a style="display: block;text-align: right;"
                           th:href="@{'/profile/' + ${item.getUsersmember().getId()}}"
                           th:text="${item.getUsersmember().getUsername()}"></a>

                    </div>
                </div>


            </div>
        </div>


        <!--   /////////////////////////////////////////  Done  /////////////////////////////////////////-->

        <div class="col-md-4">
            <div class="card ccard radius-t-0 h-100">
                <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
                <!-- the blue line on top -->

                <div class="card-header pb-3 brc-secondary-l3">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                        Done
                        <i title="done"> &#9989;</i>
                    </h5>
                </div>

                <div th:each="item:${doneitems}">
                    <div class="card bg-light mb-3" style="margin:5px">

                        <div class="card-header" style="position: relative;">

                            <span th:text="${item.getName()}"></span>

                            <form style="display: inline-block;margin-left: 75%;" method="post"
                                  th:action="@{'/listprofile/'+${id}}" th:if=${delI}>
                                <input type="hidden" name="id" th:value="${item.getId()}">


                                <button type="submit" name="delete"
                                        style="position: absolute;font-size: 21px;color:red;top: 5%;right: 4%;">
                                    &#128465;
                                </button>
                            </form>
                        </div>

                        <div class="card-body">


                            <p class="card-text" th:text="${item.getDescription()}">
                            </p>
                            <a style="display: block;text-align: right;"
                               th:href="@{'/profile/' + ${item.getUsersmember().getId()}}"
                               th:text="${item.getUsersmember().getUsername()}"></a>

                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>


    <!-- progress  -->
    <div class="progress">
        <div class="progress-bar" role="progressbar" th:style="'width:'+${progress}+'%;'"
             th:aria-valuenow="${progress}" aria-valuemin="0" aria-valuemax="100"
             th:text="'total progress ='+${progress}+'%'">25%
        </div>
    </div>


    <script th:if="${param.eradmin}"> alert("you are not admin")</script>
    <script th:if="${param.error}"> alert("the user already added")</script>
    <script th:if="${param.nooneerror}"> alert("no one have this username !")</script>
    <script th:if="${param.errorone}"> alert("the user didn't added to the list")</script>
    <script th:if="${param.adddone}"> alert("done!")</script>
    <button type="button" class="bt btn-outline-info btn-sm" data-toggle="modal" data-target="#exampleModalLong">
        Info
    </button>

    <!--  /////////////////////////////   Modales  /////////////////////////////  -->
    <!--        add user module-->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2"> add New user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="${'adduser/'+id}" method="post">
                        <div class="mb-3">

                            <label for="recipient-name" class="col-form-label">username:</label>
                            <input type="text" class="form-control" style="text-transform: none;" name="username"
                                   id="recipient-name">
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary btn-light">Add user</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--        add  task-->


    <div class="modal fade" id="addtask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="${'addtask/'+id}" method="post">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Task Name :</label>
                            <input class="form-control" style="text-transform: none;" name="task"
                                   id="recipient-name"> </input>
                            <label for="recipient-name" class="col-form-label">Task Description :</label>
                            <textarea class="form-control" style="text-transform: none;" name="description"
                                      id="recipient-name"> </textarea>
                            <label for="recipient-name" class="col-form-label">username:</label>
                            <!--                                <input type="text" class="form-control" style="text-transform: none;" name="username" id="recipient-name">-->
                            <select class="form-control" style="text-transform: none;" name="username"
                                    id="recipient-name">
                                <option value="">Select User</option>
                                <option th:value="${todoadmin.getUsername()}"
                                        th:text="${todoadmin.getUsername()}"></option>
                                <option th:each="mem : ${todomembers}"
                                        th:value="${mem.getUsername()}"
                                        th:text="${mem.getUsername()}">
                                </option>

                            </select>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary btn-light">Add Task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--  info Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>users</h3>
                    <ul th:each="user:${todomembers}">
                        <li th:text="${user.getUsername()}"></li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="comment_form">
        <form th:action="${'addComment/'+id}" method="post">
            <div class="form-group">
                <label class="comment_label" for="exampleInputEmail1">comment</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="comment"
                       aria-describedby="emailHelp" placeholder="Enter comment" required>
            </div>
            <button type="submit" class="btn btn-primary">comment</button>
        </form>

    </div>
    <div class="list-group" style="margin-top: 70px; padding: 0px 50px;">
        <div th:each="post:${posts}">
            <a class="list-group-item list-group-item-action flex-column align-items-start ">
                <div class="comment_img_username_beside">

                    <div>

                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="50px" heigth="50px"
                             alt="f">
                          </div>
                    <div class="username_comment">
                        <h5 class="mb-1" th:text="${post.getUsersmember().getUsername()}"></h5>

                        <p class="mb-1" th:text="${post.getComment()}"></p>
                        <span style="font-size: small;color: #0a0a0a52;" th:text="${T(com.example.teamToDoList.controller.TimeDifferenceClass).findDifference(post.getTime(),timeNow)}"></span>

                    </div>
                </div>
            </a>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>