<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta>
    <meta charset="UTF-8">
    <title>todo List Profile</title>
</head>
<body>
<link th:href="@{/listprofile.css}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">





        <div class="col-md-4">
            <div class="card ccard radius-t-0 h-100">
                <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
                <!-- the blue line on top -->

                <div class="card-header pb-3 brc-secondary-l3">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                        To do
                    </h5>
                </div>

                <div class="card-body pt-2 pb-1">
                    <div role="button" class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
                        <span class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
                            <img alt="Alexa's avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="h-4 w-4" />
                        </span>

                        <span class="text-default-d3 text-90 text-600">
                            Alexa
                        </span>

                        <span class="ml-auto text-dark-l2 text-nowrap">
                            1,250
                            <span class="text-80">
                                USD
                            </span>
                        </span>

                        <span class="ml-2">
                            <i class="fa fa-arrow-up text-green-m1 text-95"></i>
                        </span>
                    </div>
                 </div>
            </div>
        </div>





        <div class="col-md-4">
            <div class="card ccard radius-t-0 h-100">
                <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
                <!-- the blue line on top -->

                <div class="card-header pb-3 brc-secondary-l3">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                     Doing
                    </h5>
                </div>

                <div class="card-body pt-2 pb-1">
                    <div role="button" class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">

<div>

                        <span class="text-default-d3 text-90 text-600">
                            Alexa
                        </span>
</div>

                        <span class="ml-auto text-dark-l2 text-nowrap">

                           <div class="input-group mb-1">
  <div class="input-group-text">
    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
  </div>
  <input type="text" class="form-control"  value="the task body" aria-label="Text input with checkbox" disabled>
</div>


                        </span>


                    </div>
                </div>
            </div>
        </div>







        <div class="col-md-4">
            <div class="card ccard radius-t-0 h-100">
                <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
                <!-- the blue line on top -->

                <div class="card-header pb-3 brc-secondary-l3">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                    Done
                    </h5>
                </div>

                <div class="card-body pt-2 pb-1">
                    <div role="button" class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
                        <span class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
                            <img alt="Alexa's avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="h-4 w-4" />
                        </span>

                        <span class="text-default-d3 text-90 text-600">
                            Alexa
                        </span>

                        <span class="ml-auto text-dark-l2 text-nowrap">
                            1,250
                            <span class="text-80">
                                USD
                            </span>
                        </span>

                        <span class="ml-2">
                            <i class="fa fa-arrow-up text-green-m1 text-95"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>









    </div>
</div>

</body>
</html>